*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
}

/* temporary link styling (optional) */
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

/* debug layout styles */
.site-bg {
  min-height: 100vh;
  background: #62646a;
  padding: 24px;
}

.site-frame {
  max-width: 1100px;
  margin: 0 auto;

  border: 2px dashed #ac1616;
  background: #cdb9b9;

  padding: 24px;
  border-radius: 12px;
}
